@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;

}

.toggle {
    position: relative;
    max-width: 60px;
    cursor: pointer;
    left: 5%;
    top: 10%;
    z-index: 100;
}

 .toggle img {
    max-width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 25px;
    background: url(./assets/back.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .content {
    max-width: 550px;
}

.banner .content h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #fff;
}

.banner .content h2 span {
    font-weight: 800;
}

.banner .content p {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: #fff;
    margin: 15px 0 35px;
}

.div-round {
    overflow: hidden;
    position: relative;
    z-index: 10;
    border-radius: 20px;
    border-radius: 20px;
 
}

.div-round::before {
    display: block;
    content: "";
}

.iframe-round {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    width: 100%;
    height: 100%;
    border: 0;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.menuLateral{
height: 100vh;
width: 22vw;
background-color: #2f573c;
position: absolute;
top: -100%;
right: 0;
transition: 1s;
opacity: 40%;
text-align: center;
display: flex;
justify-content: center;
padding: 0 30px ;
padding-top: 70px;
}

.view {
    transition: 1s;
    top: 0;
}
